# Getting the 'Last' daily price for Crypto currencies to USD

Quandl Bitfinex

https://data.nasdaq.com/data/BITFINEX-bitfinex

DESCRIPTION
Bitfinex is a trading platform for **Bitcoin**, **Litecoin** and **Darkcoin** with many advanced features including margin trading, exchange and peer to peer margin funding.

In [15]:
# Import required libraries and dependencies
import os
from dotenv import load_dotenv
import quandl
import pandas as pd

In [16]:
# Define the output filepath for the data

# Disabled for running from main app
bitcoin_savepath = '../data/bitcoin_prices.csv'

In [17]:
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
quandl_api_key = os.getenv("QUANDL_API_KEY")

In [18]:
# Create `start_date` and `end_date` variables
start_date = '2020-01-01'
end_date = '2021-09-30'

# Get prices from the API
bitcoin = quandl.get("BITFINEX/BTCUSD", start_date=start_date, end_date=end_date)

# Display the output
display(bitcoin.head(3))
display(bitcoin.tail(3))

              High     Low      Mid    Last     Bid     Ask       Volume
Date
2020-01-01  7285.1  7185.4  7213.05  7213.1  7213.0  7213.1  2045.343527
2020-01-02  7225.8  6963.0  6989.45  6989.5  6989.4  6989.5  4848.085330
2020-01-03  7444.9  6909.3  7356.95  7356.9  7356.9  7357.0  6653.414357

,High,Low,Mid,Last,Bid,Ask,Volume
Date,,,,,,,
2021-09-28,43249.0,41158.0,41735.0,41730.000000,41733.0,41737.0,5509.991062
2021-09-29,42606.0,40804.0,41396.5,41400.846149,41394.0,41399.0,5259.994272
2021-09-30,44122.0,41189.0,43728.0,43729.000000,43726.0,43730.0,5161.574149

In [23]:
# Rename the "Last" column
bitcoin['Price (USD)'] = bitcoin['Last']

# Drop unneeded columns
bitcoin_last = bitcoin[['Price (USD)']]

# Display the refined price data
display(bitcoin_last.head(3))
display(bitcoin_last.tail(3))

            Price (USD)
Date
2020-01-01       7213.1
2020-01-02       6989.5
2020-01-03       7356.9

             Price (USD)
Date
2021-09-28  41730.000000
2021-09-29  41400.846149
2021-09-30  43729.000000

In [20]:
# Write the dataframes to a .csv file
bitcoin_last.to_csv(bitcoin_savepath)

### Notify the user that price data has been obtained

In [21]:
print('Price data obtained, this process is COMPLETE!')

Price data obtained, this process is COMPLETE!