# Scrape twitter from within Jupyter Notebooks
**Refer to the README: Run small tweet scrapes from here, or run stable from the app discussed in the readme.**  

---
This can be a time consuming process and system instability may ocurr.  
For scraping significant amounts of tweet data, please refer to the README file and utilize a CLI based python app, which may need multiple instances running in parallel, as the kernel in Notebooks only allows a single instance running at a time.

---
This will scrape twitter for up to 500 tweets containing the Bitcoin hashtag during the date range 2021-10-01 back to 2021-01-01, but *will not capture all of that time range with only 500 tweets!*

In [1]:
# Import the required libraries
import snscrape.modules.twitter as sntwitter
from pathlib import Path
import csv
import pandas as pd

In [2]:
# Define the search parameters for your scraping event
maxTweets = 500

In [3]:
# Define the file paths for saving the data
#btc_tweet_savepath = '../data/btc_tweets_2020-05-01_to_2021-10-01.csv'

## Bitcoin Hashtags - Twitter
Be careful about how you return this. Using this notebook for any significant time frame will cause system instability and potentially loss of data. Jan-Sept 2021 yields just under 10 Million tweets. If you select all tweet attributes, the resulting file(s) required approx 25GB and no app could open the data. Notebooks crashed after 20 hours of running, since it only manages one process at a time, this was likely only around 1 month of data at that point. Refer to the README for how to utilize the CLI based alternatives.

In [4]:
# Create empty list to store the tweets
btc_tweets_list = []

# Scrape the tweets
for i,tweet in enumerate(sntwitter.TwitterHashtagScraper('bitcoin since:2020-05-01 until:2021-10-01').get_items()):
    if i>maxTweets:
        break
    btc_tweets_list.append([tweet.date, tweet.id, tweet.replyCount, tweet.retweetCount, tweet.likeCount, tweet.hashtags, 1])

In [5]:
# Creating a dataframe from the tweets list above
btc_tweets_df = pd.DataFrame(btc_tweets_list, columns=['Datetime', 'Tweet ID', 'Replies', 'Retweets', 'Likes', 'Hashtags', 'Tweets'])

# Reformat the 'Datetime' to date time format
btc_tweets_df['Datetime'] = pd.to_datetime(btc_tweets_df['Datetime'])

# Set the index to 'Datetime'
#tweets_df = tweets_df.set_index('Date')

# Display first 5 entries from dataframe
display(btc_tweets_df.head(3))
display(btc_tweets_df.tail(3))

,Datetime,Tweet ID,Replies,Retweets,Likes,Hashtags,Tweets
0,2021-09-30 23:59:56+00:00,1443727342644314125,0,0,0,"[Bitcoin, BTC]",1
1,2021-09-30 23:59:56+00:00,1443727341973381121,0,0,0,"[SingleIssueVoter, Bitcoin]",1
2,2021-09-30 23:59:55+00:00,1443727338169114633,0,0,0,"[chinafud, bitcoin, cryptocurrency, crypto]",1

,Datetime,Tweet ID,Replies,Retweets,Likes,Hashtags,Tweets
498,2021-09-30 23:33:44+00:00,1443720750209245186,2,3,12,[Bitcoin],1
499,2021-09-30 23:33:40+00:00,1443720734715494413,0,1,1,"[Airdrop, Trickledrip, Crypto, DeFi, Blickchai...",1
500,2021-09-30 23:33:39+00:00,1443720728336031752,0,0,0,[Bitcoin],1

In [6]:
# Export dataframe into a CSV
btc_tweets_df.to_csv(btc_tweet_savepath, sep=',', index=False)

NameError: name 'btc_tweet_savepath' is not defined

### Notify user that this process is complete

In [ ]:
print('Tweet Scraping Complete!')