# The App to Run them ALL
---
From within this file, you can run each component for a finalized presentation.  
**USE CAUTION WHEN RUNNING THE SCRAPING APP!!**

In [9]:
# import the required libraries
import pandas as pd
from dotenv import load_dotenv
from pathlib import Path
import csv
import os
import quandl

### Run the Twitter Scraper
**RUN ONLY ONE CELL TO GET DATA**
Refer to the README for explainations, the recommended method is to run Tweet
This can be done if you do not have data files, or if you wish to find new data.
This will:
- enter the search parameters desired
- run snscrape as a module
- collect the tweet data as a list 
- convert tweet data to a dataframe
- export the raw data as a .csv file

In [ ]:
# Scrape Twitter for up to 2,000 tweets for each bitcoin and litecoin hashtags
%run modules/tweetReader.ipynb

In [8]:
# Alternatively, you can run `TweetScraperQuest.py` from the command line for more efficient scraping!

### Obtain Price History Data
This obtains price history and outputs it as csv files for bitcoin and litecoin.  
You will need your own Quandl API Key saved in the directory (see README)

In [ ]:
# Collect Price Data and create .csv files
%run modules/bitcoinLitecoinLastPrice.ipynb

### Process the .csv Data Files
This is used to process the .csv files obtained in the above step. If you are using available files, this can be bypassed.  
This will:
- read in the .csv files, establishing headers
- reformat the data and correct the way some of it is displayed
- correct incompatible data types
- combine the data into a single dataframe
- export this as a new .csv file

In [12]:
# Process data files.
%run modules/csvProcessor.ipynb

BTC 2021 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
9748225,2021-01-01 00:00:02+00:00,1344795480430149633,0,0,0,"['bitcoin', 'bunnies']",1
9748226,2021-01-01 00:00:01+00:00,1344795479071215617,0,0,0,"['criptomoedas', 'bitcoin', 'investimento', 'd...",1
9748227,2021-01-01 00:00:01+00:00,1344795478660173824,0,0,0,"['bitcoin', 'CarbonaraIndex']",1

LTC 2021 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
195315,2021-01-01 00:01:37+00:00,1344795880621268994,0,0,0,"['LTC', 'Litecoin']",1
195316,2021-01-01 00:01:30+00:00,1344795848362913792,0,1,0,"['unitedkingdom', 'ireland', 'iceland', 'portu...",1
195317,2021-01-01 00:01:06+00:00,1344795750903984129,0,0,0,"['Litecoin', 'Crypto', 'LTC']",1

BTC 2020 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
0,2020-12-31 23:59:59+00:00,1344795468522516481,0,0,0,"['bitcoin', 'ethereum', 'polkadot']",1
1,2020-12-31 23:59:55+00:00,1344795453402075136,0,4,0,['bitcoin'],1
2,2020-12-31 23:59:55+00:00,1344795450000486401,0,1,0,"['Investing', 'crypto', 'cash', 'Bitcoin', 'ri...",1

LTC 2020 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
0,2020-12-31 23:58:40+00:00,1344795139063967744,0,1,0,['Litecoin'],1
1,2020-12-31 23:55:02+00:00,1344794223711813632,0,0,1,"['ltc', 'litecoin']",1
2,2020-12-31 23:34:10+00:00,1344788973747486720,1,9,2,['Litecoin'],1

BTC & LTC Prices:

            Price (USD)
Date
2020-01-01       7213.1
2020-01-02       6989.5
2020-01-03       7356.9

            Price (USD)
Date
2021-09-28       142.59
2021-09-29       144.12
2021-09-30       152.93

Consolidated DataFrames:

             Price (USD)  Replies     Likes  Retweets   Tweets
2020-05-01   8841.200000   8711.0   61435.0   14191.0  14208.0
2020-05-02   8926.532916  12810.0   62059.0   15767.0  12553.0
2020-05-03   8935.600000  10491.0   61931.0   15102.0  12097.0
2020-05-04   8890.148852   9248.0   79092.0   17327.0  13747.0
2020-05-05   8943.491429  14979.0   83008.0   22115.0  16763.0
...                  ...      ...       ...       ...      ...
2021-09-26  43476.000000  56577.0  417268.0   76448.0  32717.0
2021-09-27  43111.000000  52296.0  472449.0   92381.0  37349.0
2021-09-28  41730.000000  63165.0  503994.0  121100.0  37056.0
2021-09-29  41400.846149  57377.0  458144.0   92729.0  37261.0
2021-09-30  43729.000000  52974.0  550456.0  119829.0  37205.0

[518 rows x 5 columns]

            Price (USD)  Replies   Likes  Retweets  Tweets
2020-05-01       47.062    109.0   906.0     234.0   518.0
2020-05-02       49.186    125.0  1048.0     366.0   372.0
2020-05-03       48.000    208.0  1323.0     370.0   478.0
2020-05-04       46.988    315.0  1310.0     277.0   628.0
2020-05-05       46.492    123.0   931.0     292.0   602.0
...                 ...      ...     ...       ...     ...
2021-09-26      151.920    526.0  5133.0     839.0   600.0
2021-09-27      148.890    520.0  4005.0     597.0   582.0
2021-09-28      142.590    581.0  5225.0     796.0   654.0
2021-09-29      144.120    555.0  5709.0    1008.0   732.0
2021-09-30      152.930   1174.0  6330.0    1685.0   571.0

[518 rows x 5 columns]

Data/CSV file processing is COMPLETE!

### Process the Data
This step will run the operations to calculate comparable data for price history and tweet statistics.

### Run The Visualizations

### Display Analysis

In [ ]:
%run modules/analysis.md