In [14]:
# Import the Libraries
import pandas as pd
import sqlalchemy
import snscrape.modules.twitter as sntwitter
import os
import json

In [3]:
# Set up the SQL database

# Create the sqlite database connection
conn = 'sqlite:///data/tweet.db'

# Create the database engine
engine = sqlalchemy.create_engine(
    conn
)

# Verify engine
engine

Engine(sqlite:///data/tweet.db)

/Users/zrowgz/Desktop/fintech-workspace/p1/tweetdb.db

In [4]:
# Create SQL Table
create_table = """
CREATE TABLE bitcoin_tweets (
    "Datetime" VARCHAR,
    "TweetID" VARCHAR,
    "Text" VARCHAR,
    "Username" VARCHAR
)
"""

engine.execute(create_table)

# Verify table creation
engine.table_names()

/var/folders/qr/vdmryg852fjg7hwvkswngfgr0000gn/T/ipykernel_40021/2211846100.py:14: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['bitcoin_tweets']

## Query Twitter by Hashtag Search
Basic outline of code created by:

In [ ]:
# This code works if it is in a .py file. But it isn't necessary since we can just pull the data we want directly to a dataframe...
os.system("snscrape --jsonl --progress --max-results 500 --since 2021-05-01 twitter-hashtag \"bitcoin until:2021-05-31\" > tweets.json")

In [20]:
# Using TwitterSearchScraper to scrape data and append tweets to list
maxTweets = 5

# Create empty list to store the tweets
tweets_list = []

# Scrape the tweets
for i,tweet in enumerate(sntwitter.TwitterHashtagScraper('bitcoin since:2021-05-01 until:2021-05-31').get_items()):
    if i>50:
        break
    tweets_list.append([tweet.date, tweet.hashtags, tweet.likeCount, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Hashtags', 'Likes', 'Text', 'Username'])

In [24]:
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Hashtag', 'Likes', 'Text', 'Username'])

# Reformat the 'Datetime' to date time format
tweets_df["Date"] = pd.to_datetime(tweets_df['Datetime'])

# Set the index to 'Datetime'
tweets_df = tweets_df.set_index('Datetime')

# Display first 5 entries from dataframe
display(tweets_df.head())
display(tweets_df.tail())

,Hashtag,Likes,Text,Username,Date
Datetime,,,,,
2021-05-30 23:59:55+00:00,[Bitcoin],55,Invertir en #Bitcoin es ganar la loteria en ca...,DiarioBitcoin,2021-05-30 23:59:55+00:00
2021-05-30 23:59:44+00:00,[bitcoin],3,#bitcoin to $20k before next bull rally for CO...,bitcoinagile,2021-05-30 23:59:44+00:00
2021-05-30 23:59:41+00:00,"[CORGIB, POLKABRIDGE, POLKADOT, DOGE, DOGECOIN...",7,$CORGIB is mooning! üê∂üöÄ\n\n#CORGIB #POLKABRIDGE...,thecorgibking,2021-05-30 23:59:41+00:00
2021-05-30 23:59:41+00:00,[Bitcoin],0,PAYMENT FOR INVESTMENT #Bitcoin https://t.co/f...,Tradermarcus01,2021-05-30 23:59:41+00:00
2021-05-30 23:59:40+00:00,[Bitcoin],0,@bitcoin_qr #Bitcoin,GhostCrypto8,2021-05-30 23:59:40+00:00

,Hashtag,Likes,Text,Username,Date
Datetime,,,,,
2021-05-30 23:56:02+00:00,"[bitcoin, IndiaWantsBitcoin, IndiaWantsBitcoin]",0,I just emailed my local MP to support progress...,ShaikhAftab63,2021-05-30 23:56:02+00:00
2021-05-30 23:56:01+00:00,[Bitcoin],0,Morning routine. üôèüèª‚òïÔ∏èüç≥üìà#Bitcoin,retepjoe,2021-05-30 23:56:01+00:00
2021-05-30 23:56:01+00:00,[Bitcoin],3,I own more #Bitcoin today than I did yesterday.,ExplainingBitc1,2021-05-30 23:56:01+00:00
2021-05-30 23:55:58+00:00,"[Bitcoin, LTC]",1,@LitecoinForever I won't accumulate more LTC b...,Litecoin__Lord,2021-05-30 23:55:58+00:00
2021-05-30 23:55:58+00:00,"[Bitcoin, fiat]",0,#Bitcoin how do we go from defense to offense?...,KarloDarwin,2021-05-30 23:55:58+00:00

In [ ]:
def roundDateTime(df_in, df_out, period):

In [ ]:
# Insert data into tweetsdb sql database
insert_data = """
    INSERT INTO bitcoin_tweets
        ("date", "id", "content", "username")
    VALUES (?, ?, ?, ?)
    """
engine.execute(insert_data)

In [ ]:
  insert_data = f"""
        INSERT INTO bitcoin_tweets
            (Datetime, TweetID, Text, Username)
        VALUES ('{tweet.date}', '{tweet.id}', '{tweet.content}','{tweet.user.username}')
        """
        engine.execute(insert_data)

In [ ]:
# and then verify by reading the table back
#pd.read_sql_table('bitcoin_tweets', con=engine)

In [ ]:
# Convert the dataframe to a database
tweets_df.to_sql(
    'bitcoin_tweets', 
    engine, 
    index=False, 
    if_exists='replace'
)

In [ ]:
# Export dataframe into a CSV
tweets_df1.to_csv('/data/text_tweets.csv', sep=',', index=False)