# Manage Large .csv Data Files
Use this to import and refine your large .csv files generated by the tweet scraping process.  
Allows you to export them as new .csv files that are properly cleaned up, so the processor intensive actions are completed, in case of a systems failure. 

This will read in the .csv files and process all the data, displaying the final table, and output that final table for each coin as a new, smaller .csv file for use in the analysis portion.

## Read In .csv Data Files
Be patient, although these processes don't take quite as long as the scraping does, each action can take many minutes.

In [1]:
# Import the required libraries
import pandas as pd
from pathlib import Path
import csv
from datetime import datetime

In [3]:
# Set the file paths for whichever were created

# Use these if running the notebook from within here, not the main app
#btc_2020_filepath = '../large_data/btcHashData-2020_May-Dec.csv'
#btc_2021_filepath = '../large_data/btcHashData-2021_Jan-Dec.csv'
#btc_prices_filepath = '../data/bitcoin_prices.csv'
#btc_savepath = '../data/SummaryData_BTC.csv'

## Read In .csv Data Files

In [4]:
# Name the columns for the RAW TWEET DATA, Not the refined one
column_list = ['Datetime', 'TweetID', 'Replies', 'Likes', 'Retweets', 'Hashtags', 'Tweets']

In [5]:
# Read in BTC 2021 Data File

# Name the dataframe & Import the csv file
btc_2021_df = pd.read_csv(
    Path(btc_2021_filepath),
    names=column_list
)

# Display the dataframe
print('BTC 2021 data:')
display(btc_2021_df.tail(3))

BTC 2021 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
9748225,2021-01-01 00:00:02+00:00,1344795480430149633,0,0,0,"['bitcoin', 'bunnies']",1
9748226,2021-01-01 00:00:01+00:00,1344795479071215617,0,0,0,"['criptomoedas', 'bitcoin', 'investimento', 'd...",1
9748227,2021-01-01 00:00:01+00:00,1344795478660173824,0,0,0,"['bitcoin', 'CarbonaraIndex']",1

In [6]:
# Read in BTC 2020 Data File
btc_2020_df = pd.read_csv(
    Path(btc_2020_filepath),
    names=column_list
)

# Display the dataframe
print('BTC 2020 data:')
display(btc_2020_df.head(3))

BTC 2020 data:

,Datetime,TweetID,Replies,Likes,Retweets,Hashtags,Tweets
0,2020-12-31 23:59:59+00:00,1344795468522516481,0,0,0,"['bitcoin', 'ethereum', 'polkadot']",1
1,2020-12-31 23:59:55+00:00,1344795453402075136,0,4,0,['bitcoin'],1
2,2020-12-31 23:59:55+00:00,1344795450000486401,0,1,0,"['Investing', 'crypto', 'cash', 'Bitcoin', 'ri...",1

## Reformat Data

In [7]:
# Reformat the 'Datetime' to date time format

# For the 2021 data
btc_2021_df['Datetime'] = pd.to_datetime(btc_2021_df['Datetime']).dt.date

# For the 2021 data
btc_2020_df['Datetime'] = pd.to_datetime(btc_2020_df['Datetime']).dt.date

# Sort the dataframes by index
btc_2021_df.sort_index(inplace=True)
btc_2020_df.sort_index(inplace=True)

# Display resulting DataFrames
#display(btc_2021_df.head())
#display(btc_2020_df.head())

In [8]:
## This code not used due to the previous step. 
## Preserved for potential future analysis when looking at data from within each day

#btc_2021_daily_tweets_df = pd.DatetimeIndex(btc_2021_daily_tweets_df.time).normalize(utc=True)
#btc_2021_daily_tweets_df = btc_2021_df.groupby(pd.Grouper(key='Datetime',freq='D')).sum()

In [9]:
# Drop the unnecessary columns

# For 2021 data
btc_2021_df = btc_2021_df.drop(columns=['TweetID', 'Hashtags'])

# For 2020 data
btc_2020_df = btc_2020_df.drop(columns=['TweetID', 'Hashtags'])

# Display the output
#display(btc_2021_df.head())
#display(btc_2020_df.head())

In [10]:
# Group the data by days for both 2020 & 2021
btc_2021_daily_tweets_df = btc_2021_df.groupby('Datetime').sum()
btc_2020_daily_tweets_df = btc_2020_df.groupby('Datetime').sum()

# Convert values to int64
btc_2021_daily_tweets_df = btc_2021_daily_tweets_df.astype('float64')
btc_2020_daily_tweets_df = btc_2020_daily_tweets_df.astype('float64')

#display the df
#display(btc_2021_daily_tweets_df.head())
#display(btc_2020_daily_tweets_df.tail())

In [11]:
# Combine the BTC dataframes
btc_daily_tweets_df = pd.concat([btc_2020_daily_tweets_df, btc_2021_daily_tweets_df], axis=0)
btc_daily_tweets_df.sort_index()

# Display the datafram
#display(btc_daily_tweets_df)

            Replies     Likes  Retweets   Tweets
Datetime
2020-05-01   8711.0   61435.0   14191.0  14208.0
2020-05-02  12810.0   62059.0   15767.0  12553.0
2020-05-03  10491.0   61931.0   15102.0  12097.0
2020-05-04   9248.0   79092.0   17327.0  13747.0
2020-05-05  14979.0   83008.0   22115.0  16763.0
...             ...       ...       ...      ...
2021-09-26  56577.0  417268.0   76448.0  32717.0
2021-09-27  52296.0  472449.0   92381.0  37349.0
2021-09-28  63165.0  503994.0  121100.0  37056.0
2021-09-29  57377.0  458144.0   92729.0  37261.0
2021-09-30  52974.0  550456.0  119829.0  37205.0

[518 rows x 4 columns]

In [12]:
# Import Bitcoin prices from the .csv file
btc_daily_prices = pd.read_csv(
    Path(btc_prices_filepath),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)

# Display prices
print('BTC Prices:')
display(btc_daily_prices.head(3))
display(btc_daily_prices.tail(3))

BTC Prices:

            Price (USD)
Date
2020-01-01       7213.1
2020-01-02       6989.5
2020-01-03       7356.9

             Price (USD)
Date
2021-09-28  41730.000000
2021-09-29  41400.846149
2021-09-30  43729.000000

In [13]:
# Align the price data to what was scraped from Twitter
earlier_date = '2020-05-01'
later_date = '2021-09-30'

# Adjust the results to match with the dates for which the tweets were scraped
btc_daily_prices = btc_daily_prices.loc[earlier_date : later_date]

# Display the dataframe
#display(btc_daily_prices)

In [14]:
# Change prices to int64 datatype
btc_daily_prices = btc_daily_prices.astype({'Price (USD)' : 'float64'})

# Display the output
#display(btc_daily_prices)

In [15]:
# Combine the two dataframes so that there is a price for each day
btc_data = pd.concat([btc_daily_prices, btc_daily_tweets_df], axis=1)

# View the combined dataframes
print('Consolidated DataFrame:')
display(btc_data)

Consolidated DataFrame:

             Price (USD)  Replies     Likes  Retweets   Tweets
2020-05-01   8841.200000   8711.0   61435.0   14191.0  14208.0
2020-05-02   8926.532916  12810.0   62059.0   15767.0  12553.0
2020-05-03   8935.600000  10491.0   61931.0   15102.0  12097.0
2020-05-04   8890.148852   9248.0   79092.0   17327.0  13747.0
2020-05-05   8943.491429  14979.0   83008.0   22115.0  16763.0
...                  ...      ...       ...       ...      ...
2021-09-26  43476.000000  56577.0  417268.0   76448.0  32717.0
2021-09-27  43111.000000  52296.0  472449.0   92381.0  37349.0
2021-09-28  41730.000000  63165.0  503994.0  121100.0  37056.0
2021-09-29  41400.846149  57377.0  458144.0   92729.0  37261.0
2021-09-30  43729.000000  52974.0  550456.0  119829.0  37205.0

[518 rows x 5 columns]

In [16]:
# Export this refined .csv for later use
btc_data.to_csv(btc_savepath, sep=',', index=True)

### Notify the user that processing is complete

In [17]:
print('Data/CSV file processing is COMPLETE!')

Data/CSV file processing is COMPLETE!